* {
    box-sizing: border-box;
  }
  
  .row:after {
    content: "";
    clear: both;
    display: table;
  }
  /*
  [class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
  }
  */  
  @media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }


  .centro{
    background-color: white;
    width: 100%;
    max-width: 1390px;
    min-width: 360;
    padding: 0 15px;
    margin: 0 auto;

  }

  

/*Estilo de la cabecera*/
  .header {
    background-color: #61b2e7;
    height: auto;
    width: 100%;
  }

  .header .centro{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #61b2e7;
  }

  .header .lado-izquierdo img{
    height: 50px;
    width: auto;
  }

  .header .lado-derecho h1{
    font-family: Helvetica;
    font-size: 24pt;
    color: white;
  
  }

  /*Estilo del menu Filtro*/

  .contenedor{
    margin-top: 20px;
  }

  .contenedor .centro{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }


  .menu-filtro .opcion-filtro{
    display: flex;
    align-items: center;
    justify-content: flex-start;

  }

  .menu-filtro .lado-izquierdo img{
    height: 25px;
    width: 25px;
    margin-right: 8px;
  }

  .menu-filtro .lado-derecho h2{
    font-family: Helvetica;
    font-size: 15pt;
  
  }

